
.container{
    width: 1000px; 
    margin: auto; 
    display: flex; 
    flex-wrap: wrap;
}



.box{
     width: 80px; 
     height: 80px; 
     margin: 10px;
     display: flex; 
     justify-content: center; 
     align-items: center;
     background-color: darkgoldenrod;
}

.box-fizz{
    background-color: red;
}

.box-buzz{
    background-color: green;
}

.box-fizzbuzz{
    background-color: violet;
}